body {
    background: white;
    text-align: center;
    padding: 5px;
}

#header1 {
    font-size: 36px;
    color: black;
    min-height: 10px;
    font-weight: bold;
    padding: 50px;
    top: 50px;
    left: 400px;
    position: absolute;
}

#header2 {
    font-size: 20px;
    color: black;
    padding: 50px;
    top: 200px;
    left: 200px;
    position: absolute;
    text-align: center;
}

#button {
    background: orange;
    color: white;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    text-indent: 0px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: color 0.5s, background 0.5s;
    text-align: center;
    top: 500px;
    left: 500px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}