    body {
        text-align: center;
        font-family: Arial, Helvetica, sans-seria;
        background: black;
    }
    
    #container {
        background: chocolate;
        color: yellow;
        width: 960px;
        min-height: 400px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        padding: 30px;
        margin: 20px;
    }
    
    #left-content-box {
        color: white;
        font-size: 18px;
        float: left;
        padding: 10px;
        width: 20%;
        text-align: left;
    }
    
    #left2-content-box {
        color: white;
        float: left;
        word-spacing: 70px;
        width: 20%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        padding: 10px;
        position: relative;
    }
    
    #right-content-box {
        color: white;
        font-size: 18px;
        float: left;
        text-align: center;
        padding: 10px;
        width: 20%;
    }
    
    #right2-content-box {
        color: white;
        float: right;
        width: 20%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }