body {
    background-image: url(../image/background.png);
    background-size: cover;
    box-sizing: border-box;
    padding: 30px;
    border: darkgray;
}

#logo {
    width: 235px;
    height: 49px;
    background-color: none;
    float: left
}

#imgo {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    float: left
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
    height: auto;
    width: max-content;
    float: right;
    position: relative;
}

li {
    float: left;
}

li a:hover {
    background-color: #5f5a5b;
    opacity: 0.5
}

li a {
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}

#imghello {
    float: left;
    padding: 3cm 1cm;
}

#hello {
    width: 100px;
    height: 100px;
    background: none;
}

#findoutmore {
    width: 4cm;
    height: 1cm;
    background-color: #BD970C;
    float: left;
    padding: 5px;
    border-radius: 4em;
    margin: 1cm;
}